<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <script src="/js/main.js"></script>
    <meta property="og:image" content="https://jeffreyullers.nl/jeff.webp">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeffrey Ullers</title>
    <link rel="manifest" href="/manifest.json" />
    <link rel="stylesheet" href="/styles/style.css">
    <script type="application/ld+json">
      {
        "@context": "https://schema.org/",
        "@type": "Person",
        "name": "Jeffrey Ullers",
        "age": "25",
        "jobTitle": "Web Developer",
        "description": "Hallo allemaal! Ik ben een 25-jarige man die helemaal gek is van web development. Ik vind het geweldig om te leren en nieuwe dingen uit te proberen in deze altijd veranderende wereld van technologie. Momenteel ben ik nog steeds aan het studeren aan de Hogeschool van Amsterdam voor mijn Communicatie en Multimedia Design (CMD) diploma. Wanneer ik niet aan het codekloppen ben, mag ik graag ontspannen met wat gaming of anime-kijken. Vooral als ik vastzit op een moeilijk project, is er niets beters dan mijn favoriete personages te zien strijden tegen de krachten van het kwaad. Laten we samen leuke webprojecten bouwen en onze favoriete games bespreken terwijl we bezig zijn!",
        "knowsAbout": "Web Development, Gaming, Anime",
        "gender": "Male",
        "url": "https://www.jeffreyullers.nl",
        "sameAs": [
          "https://www.facebook.com/jeffrey.ullers",
          "https://www.linkedin.com/in/jeffrey-ullers/",
          "https://github.com/GekkeBoyJeff",
          "https://www.instagram.com/jeff_ullers/"
        ],
        "memberOf": {
          "@type": "Organization",
          "name": "Hogeschool van Amsterdam",
          "url": "https://www.hva.nl/"
        },
        "image": "https://jeffreyullers.nl/jeff.webp"
      },
      {
        "@context": "https://schema.org/",
        "@type": "WebSite",
        "name": "Jeffrey Ullers | Web Development Portfolio",
        "url": "https://www.jeffreyullers.nl",
        "description": "A portfolio website showcasing my web development projects and skills.",
        "publisher": {
          "@type": "Person",
          "name": "Jeffrey Ullers",
          "url": "https://www.jeffreyullers.nl"
        },
        "image": "https://jeffreyullers.nl/jeff.webp"
      }
      </script>
    <meta name="description" content="Welkom op mijn portfolio pagina! Mijn naam is Jeffrey Ullers en ik ben een gepassioneerde webontwikkelaar. Ik heb veel ervaring in het ontwerpen en ontwikkelen van prachtige websites en applicaties. Op deze pagina vindt u alle informatie over mij, mijn projecten en de technologieën waarmee ik werk. Bekijk mijn werk en neem contact met mij op als u interesse heeft in mijn diensten. Laten we samenwerken om uw droomproject te realiseren!">
    <meta name="keywords" content="Jeffrey Ullers, portfolio, websites, website bouwen, developer Zaandam, web development, CMD student, communicatie, multimedia design, creatief, UX design, front-end development, projecten, HTML, CSS, Javascript">
    <meta name="”robots”" content="index, follow">
  </head>
<body>