<%- include("partials/head") %>
<header>
    <h1>
        <%- name %>
    </h1>
</header>
<main>
    <section class="flex100">
        <h2>Projecten</h2>
        <div>
            <%- html %>
        </div>
    </section>
</main>
<%- include("partials/footer") %>
